<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

</head>
<style>
  #listDescription ul {
    width: 555px;
    margin: auto;
    padding-left: 0px;
  }
  #listDescription ul li{
    color: #9e9e9e;
    font-size: 14px;
    list-style: none;
    margin-bottom: 10px;
    font-family: sans-serif;
  }
</style>
<body>

  <div style="width: 65%;margin: auto;padding: 15px 30px;border:2px solid #dddddd;position: relative;">
    <div class="header">
      <div style="text-align: center;">
        <img src="assets/img/brand.png" style="width: 180px;">
      </div>
      <div style="text-align: center;">
        <h2 style="font-family: sans-serif;font-size: 34px;margin-top: 10px;margin-bottom: 5px">SERTIFIKAT</h2>
      </div>
      <div style="text-align: center;">
        <p style="font-family: sans-serif;font-weight: 600;margin-top: 0px;">No : / DIKLAT PTSP TK. PERTAMA / II / B.3 / A.1/ 2019</p>
      </div>
      <div style="text-align: center;">
        <p style="font-family: sans-serif;font-weight: 600;">Diberikan Kepada : </p>
      </div>
    </div>
    <div class="content" style="overflow: hidden;margin-top: 40px;">
      <div style="float: left;margin-right:25px;">
        <img src="assets/img/avatar.png" style="width: 110px;">
      </div>
      <div style="float: left">
        <table style="width:100%; font-family: sans-serif;font-size: 14px;">
          <tr>
            <td style="width: 26%;padding-bottom:5px;">Nama</td>
            <td style="width: 3%;padding-bottom:5px;">:</td>
            <td><b>Joseph Maranatha</b></td>
          </tr>
          <tr>
            <td style="width: 26%;padding-bottom:5px;">NIP</td>
            <td style="width: 3%;padding-bottom:5px;">:</td>
            <td>19850101 200802 1 007</td>
          </tr>
          <tr>
            <td style="width: 26%;padding-bottom:5px;">Instansi</td>
            <td style="width: 3%;padding-bottom:5px;">:</td>
            <td>Dinas Penanaman Modal dan Pelayanan Terpadu Satu Pintu<br>Kabupaten Purworejo Provinsi Jawa Tengah </td>
          </tr>
          <tr>
            <td style="width: 26%;padding-bottom:5px;">Pangkat/Golongan</td>
            <td style="width: 3%;padding-bottom:5px;">:</td>
            <td>Penata TK. I / IIId</td>
          </tr>
          <tr>
            <td style="width: 26%;padding-bottom:5px;">Jabatan</td>
            <td style="width: 3%;padding-bottom:5px;">:</td>
            <td>Kasubag Pelayanan Perijinan</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="desc" style="margin-top: 15px">
      <div style="text-align: center;">
        <h3>LULUS dengan kualifikasi MEMUASKAN</h3>
      </div>
      <div>
        <p style="font-family: sans-serif;font-size: 14px;">
          pada <b>Pendidikan dan Pelatihan Pelayanan Terpadu Satu Pintu di Bidang Penanaman Modal Tingkat Pertama Substansi Online Single Submission <em>(E-Learning)</em> Angkatan Ke- II</b> yang diselenggarakan oleh Pusat Pendidikan dan Pelatihan Badan Koordinasi Penanaman Modal pada tanggal 25 s.d. 30 Juni 2019
        </p>
      </div>
    </div>
    <div class="footer" style="overflow: hidden;">
      <div style="float: left;">
        <div style="position: absolute;bottom: 0;">
          <img src="assets/img/barcode.png" style="width: 100px;padding-left:40px;">
          <p style="font-size: 11px;font-family: sans-serif;">Berdasarkan Akreditasi LAN No. 490/K.1/PDP.10.4</p>
        </div>
      </div>
      <div style="float: right;text-align: center">
        <div style="margin-bottom: 70px">
          <p style="color: #e60000;font-weight: 600;margin-bottom: 5px;font-family: sans-serif;">30 Juni 2019</p>
          <p style="font-weight: 600;font-size: 13px;font-family: sans-serif;margin-bottom: 5px;">BADAN  KOORDINASI PENANAMAN MODAL </p>
          <p style="font-weight: 600;font-size: 13px;font-family: sans-serif;margin: 0px;">PLT. KEPALA  PUSAT PENDIDIKAN DAN PELATIHAN</p>

        </div>
        <div>
          <p style="font-size: 13px;text-decoration: underline;margin-bottom: 2px;font-weight: 600;font-family: sans-serif;">Afrida Wirjandini, S. Sos.</p>
          <p style="font-size: 13px;margin-bottom: 0px;font-weight: 600;margin-top: 0px;font-family: sans-serif;">NIP. 19710430 199303 2 002</p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
